@use "variable" as v;
@mixin article-card($color, $border-color, $font-size: 24px) {
    color: $color;
    border: 1px solid $border-color;
    font-size: $font-size;
    $spacer: 1rem;
  }
  
  @mixin article-noBorder(
    $color,
    $border-color,
    $font-size: 24px,
    $spacer: 1rem
  ) {
    color: $color;
    font-size: $font-size;
    $spacer: 1rem;
  }
  
  body {
    border: 1px v.$color-primary solid;
    margin: 15px;
  }
  div {
    text-align: center;
    font-size: v.$font-size;
    padding: 0px;
    h1 {
      color: v.$color-tertiary;
      display: inline;
      border-bottom: 1px solid v.$color-secondary;
      margin-top: v.$spacer;
    }
  }
  
  .one {
    display: flex;
    margin-bottom: v.$spacer;
    margin-right: 15px;
    margin-left: 15px;
    article {
      width: 100%;
      padding: 10px v.$spacer;
      margin-top: v.$spacer;
      @include article-card(v.$color-primary, v.$color-tertiary, v.$font-size);
  
      &:nth-child(odd) {
        @include article-card(v.$color-secondary, v.$color-tertiary, v.size_conversion_px_to_rem(v.$font-size));
      }
    }
  }
  
  .two {
    display: flex;
    padding: 0px 15px 15px 15px;
  
    article {
      width: 100%;
      padding: 15px v.$spacer;
      border: 1px solid v.$color-secondary;
    }
    p {
      display: flex;
      justify-content: center;
      @include article-noBorder(v.$color-tertiary, v.$color-secondary, v.size_conversion_px_to_rem(v.$font-size));
    }
  }