$color-primary: red;
$color-secondary: blue;
$color-tertiary: green;
$font-size: 15px;
$spacer: 1rem;

@function size_conversion_px_to_rem ($size_in_px) {
    $rem-font-size: 16px; 
    @return calc($size-in-px / $rem-font-size)rem;
}